body{width:300px;height:300%;background-color:#3399FF
}
.form{position:relative}
input{border:3px solid #000}
input[type=search]{width:100%;position:relative;top:0;padding:.7em 4em .7em .7em}
input[type=submit]{color:black;position:absolute;right:0.95em;top:.5em;bottom:.5em;width:4em;cursor:pointer;background-color:white;padding:0}
a{color:white}
h1,h2,h3,h4,h5,h6{font-family:"Times New Roman", sans-serif;line-height:1.1;margin-bottom:15px;color:#000}
h5{font-weight:400;line-height:16px;font-size:14px}
h5 a{text-decoration:none}


